:root {
    --primary-color: #8ab4f8; /* Cor primária (azul claro) */
    --secondary-color: #e8eaed; /* Cor secundária (cinza claro) */
    --tertiary-color: #9aa0a6; /* Cor terciária (cinza médio) */
    --bg-color: #202124; /* Cor de fundo (cinza escuro) */
    /* Adicionando a variável que faltava para o hover do link no rodapé */
    --accent-color: #ffffff;
}