@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); /* Importa a fonte Quicksand do Google Fonts */

* {
    box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho total do elemento */
}

body {
    margin: 0; /* Remove a margem padrão do body */
    background: var(--bg-color); /* Define a cor de fundo usando uma variável */
    color: var(--secondary-color); /* Define a cor do texto padrão usando uma variável */
    font-family: "Quicksand", sans-serif; /* Define a família da fonte */
}

main {
   
    max-width: 80rem; /* Largura máxima do conteúdo principal */
    margin: 0 auto; /* Centraliza o conteúdo principal horizontalmente */
    margin-top: 2rem; /* Margem no topo */
    padding-bottom: 5rem; /* Novo padding para garantir espaço */
    
}